body{
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
}

.app{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.header{
    flex: 1;
    background-color: pink;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.total{
    text-align: center;
    vertical-align: middle;
    line-height: 6vh;
}

.resetButton{
    height: 50%;
    margin-left: 30px;
}

.footer{
    flex: 1;
    text-align: center;
    vertical-align: middle;
    line-height: 6vh;
    background-color: grey;
}

.body{
    flex: 13;
    flex-flow: row;
    display: flex;
}

.center{
    flex: 1;
    display: flex;
    background-color: green;
    align-items: center;
    justify-content: center;
}

.left{
    flex: 1;
    display: flex;
    background-color:red;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.right{
    flex: 1;
    display: flex;
    background-color:blue;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.countButton{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}

.costButton{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: gray;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}

.costLabel{
    width: 100px;
    height: 20px;
    background-color: white;
}

.autoButton{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: gray;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}

.autoLabel{
    width: 100px;
    height: 20px;
    background-color: white;
}