body{
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
}

.app{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.header{
    flex: 1;
    text-align: center;
    vertical-align: middle;
    line-height: 6vh;
    background-color: pink;
}

.footer{
    flex: 1;
    text-align: center;
    vertical-align: middle;
    line-height: 6vh;
    background-color: grey;
}

.body{
    flex: 13;
    flex-flow: row;
    display: flex;
}

.center{
    flex: 1;
    display: flex;
    background-color: green;
    align-items: center;
    justify-content: center;
}

.button{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}

.left{
    flex: 1;
    display: flex;
    background-color:red;
}

.right{
    flex: 1;
    display: flex;
    background-color:blue;
}